<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Pizza</title>

    <!-- Favicon -->
    <link rel="icon" href="images/pizzaicon.jpg">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/pizza-style.css">
     <!-- Link to JavaScript -->
    <script src="js/pizza.js"defer></script>
</head>
<body>
     
    <main>
        <header>
            <img src="images/pizza-home.jpeg" alt="pizza on tray">
           
            <p id="tagline">The best pizza GRC students have ever tasted!</p>
            <hr>
            <p>Poppa’s Pizza serves up fresh, handcrafted pizzas with 
                bold flavors and a warm, family-friendly vibe.</p>
            <a id="contact-button" href="#" role="button">Contact Us</a>
        </header>
       <h1>Admin Page!</h1>
    <main>
</body>
</html>